*{
  padding: 0;
  margin: 0;
  color: #fff;
  background-color: #000;
}
#body-container {
    width: 100%;
    height: 100vh;
}
#body-header {
    display: block;
    margin: 0 auto;
    padding: 0 auto; 
    width: 100%;
    height:75px;
}
#menu-header{
  width: 100%;
  height:75px;
  margin: 0 auto;
  padding: 7px;
  color:#dbaa3e;
  float:left;
}
#header-logo{
    float: right;
    margin: 3px;
    padding: 3px;
}

#menu-list{
    list-style: none;
    margin: 0;
    margin-left: 7px;
    padding: 0;
    background-color: #000;
}
ul#menu-list li {
    text-align: center;
    display: inline;
    margin: 7px;
    color: #fff;
}
ul#menu-list li a {
    margin: 3px;
    color: #fff;
    text-decoration: inherit;
    font-size: xx-large;
  }
  .menu-select {
    border-bottom: 5px solid #dbaa3e;
  }

  #container-navigation {
      width: 100%;
  }

  #container-navigation  button{
    margin-left: 10%;
    width: 100px;
    display:inline;   
  }

