* {
  background-color: black;
  color: white;
  font-family: 'Mochiy Pop P One', sans-serif;
  font-size: large;
}
#body-container {
    margin: 7px;
}
#body-header{
   height: 250px;
} 
#header-logo{ 
    padding: 1%;
    width: 98%;
    height: 98%;
}

#loading{ 
  width: 50%;
  margin-left: 25%;
} 

ul{
  list-style: none;
}
a {
    text-decoration: none;
}
a:hover {
  color:#ffe100;
}
h1{
  color: #FFE300;
}
.episode-number {
  border: solid 3px #FFE300;
  background-color: #FFE300;
  border-radius: 77px;
  margin: 3px;
  padding: 3px;
  padding-left: 6px;
  padding-right: 6px;
  color: black;
  font-size: x-large;
}
.title {
  color: #FFE300;
  font-size: xx-large;
}
.sub-title {
  color: #f11414;
  font-size: x-large;
}
.sub-item{
  color: #1f6eff;
}